body {
    margin: 0;
    font-family: 'Proxima Nova', Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.4em;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .075em;
    text-transform: none;
    line-height: 1.8em;
    text-decoration: none;
    color: #050505;
    text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	text-transform: uppercase;
}

h2 {
    font-size: 24px;
    letter-spacing: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.25em;
    color: #030303;
    margin: 0;
    padding: 0;
}

#innerWrapper {
    width: 50%;
    margin:30px auto;
    @media only screen and (max-width: 1024px) {
        width: 80%;
        margin: 0 auto;
        margin-bottom:90px;
	}
}

.who-meet {
	padding: 2em 0 0 0;
}

.meet-opt {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 2em 0 2em 0;
}

.meet-butt {
	min-width: 225px;
}

.meet-butt, .schedule-button {
    font-weight: 600;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.schedule-button {
    background-color: #3e64ff;
    border-color: #3e64ff;
    border-radius: 40px;
    padding: 11px 16px;
    
}