body {
    margin: 0;
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.4em;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .075em;
    text-transform: none;
    line-height: 1.8em;
    text-decoration: none;
    color: #050505;
}

h1 {
    font-size:2em
}

h2 {
    font-size: 24px;
    letter-spacing: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.25em;
    color: #030303;
    margin:2em 0 .75em
}

#innerWrapper {
    width: 60%;
    margin:30px auto;
    @media only screen and (max-width: 1024px) {
        width: 80%;
        margin: 0 auto;
        margin-bottom:90px;
	}
}

.meet-butt, .schedule-button {
    padding: 21px 34px;
    font-weight: 600;
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: #000;
    border-color:#000
}